{% extends 'main/layout.html' %}

{% block title %}Форма по изменению альбома{% endblock %}

{% block content %}
    <div class="features">
        <h2>Редактировать альбом</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.release_date }}<br>
            {{ form.author }}<br>
            {{ form.users }}<br>
            {{ form.genres }}<br>
            <span>{{ error }}</span>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
